.blog-home {
  background: #04091e;
  position: relative;
  overflow: hidden;
  width: 100%;
  .barner-blog {
    width: 100%;
    min-height: 700px;
    background: url(../image/banner-2.jpg.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
  }
  .container {
    .row {
      position: absolute;
      width: 100%;
      height: 700px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      h2 {
        font-size: 60px;
        font-weight: 500;
        font-family: "Oswald", sans-serif;
        line-height: 66px;
        margin-bottom: 15px;
        text-align: center;
        color: #fff;
      }
      p {
        font-size: 16px;
        margin-bottom: 35px;
        color: #fff;
      }
      .home-btn {
        line-height: 42px;
        padding: 0px 45px;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        border: 1px solid #eeeeee;
        cursor: pointer;
        transition: 0.3s ease;
        display: inline-block;
        background: #eeeeee;
        color: #222222;
        &:hover {
          background: #fab700;
          color: #fff;
          border-color: #fab700;
        }
      }
    }
  }
}
//* -------------------------------- Responsve ------------------------------- */
@media (max-width: 768px) {
  .blog-home {
    .barner-blog {
      min-height: 500px;
    }
    .container {
      .row {
        height: 500px;
        h2 {
          font-size: 30px;
          line-height: 33px;
        }
        p {
          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .blog-home {
    .barner-blog {
      min-height: 400px;
    }
    .container {
      .row {
        height: 400px;
        padding: 30px 15px;
        margin-top: 0px;
        h2 {
          font-size: 24px;
        }
      }
    }
  }
}
//* ---------------------------- END HOME SECTION ---------------------------- */
//? ---------------------- START BLOG CATEGORIE SECTION ---------------------- */
.blog-categorie {
  padding: 80px 0;
  .container {
    .row {
      flex-wrap: wrap;
      .card-blog-categorie {
        max-width: 33.333%;
        flex: 33.3333%;
        padding: 0 15px;
        text-align: center;
        cursor: pointer;
        .blog-categorie-img {
          position: relative;
          img {
            max-width: 100%;
            vertical-align: middle;
            object-fit: cover;
          }
          .card-categorie-content {
            max-width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 20px;
            left: 20px;
            right: 20px;
            bottom: 20px;
            background: rgba(34, 34, 34, 0.8);
            color: #fff;
            transition: 0.4s ease;
            a {
              font-size: 18px;
              line-height: 26px;
              text-transform: uppercase;
              color: #fff;
              font-family: "Oswald", sans-serif;
              font-weight: 500;
              cursor: pointer;
              opacity: 1;
              margin-bottom: 10px;
            }
            p {
              border-top: 1px solid #fff;
              padding-top: 10px;
              font-weight: 300;
              font-size: 14px;
              line-height: 26px;
              margin-bottom: 0px;
              font-family: "Roboto", sans-serif;
            }
            &:hover {
              background: rgba(250, 183, 0, 0.85);
            }
          }
        }
      }
    }
  }
}
//* ------------------------------- Responsive ------------------------------- */
@media (max-width: 992px) {
  .blog-categorie {
    .container {
      .row {
        flex-direction: column;
        align-items: center;
        .card-blog-categorie {
          max-width: 100%;
          flex: 100%;
          padding: 0;
          margin-top: 30px;
        }
      }
    }
  }
}
//* ---------------------- END BLOG CATEGORIE SECTION ---------------------- */
//? ------------------------- START BLOG POST SECTION ------------------------ */
.blog-post {
  .container {
    padding: 0;
    .row {
      flex-wrap: wrap;
      padding: 0;
      .blog-post-left {
        flex: 0 0 66.66666%;
        max-width: 66.66666%;
        .blog-post-card {
          width: 100%;
          .card-blog-post {
            width: 100%;
            margin-bottom: 40px;
            display: flex;
            flex-wrap: wrap;
            .blog-post-card-right {
              max-width: 75%;
              flex: 0 0 75%;
              .card-blog-post-right {
                img {
                  max-width: 100%;
                  vertical-align: middle;
                }
                .blog-post-card-right-info {
                  padding-top: 20px;
                  a {
                    font-size: 24px;
                    color: #222222;
                    font-weight: 600;
                    transition: 0.4s ease;
                    font-family: "Oswald", sans-serif;
                    &:hover {
                      color: #fab700;
                    }
                  }
                  p {
                    margin-top: 8px;
                    margin-bottom: 26px;
                  }
                  .blog-post-btn {
                    display: inline-block;
                    background: #f9f9ff;
                    padding: 0px 35px;
                    color: #222222;
                    font-family: "Roboto", sans-serif;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 34px;
                    text-align: center;
                    border: 1px solid #eeeeee;
                    cursor: pointer;
                    transition: 0.4s ease;
                    &:hover {
                      background: #fab700;
                      color: #fff;
                      border-color: #fab700;
                    }
                  }
                }
              }
            }
          }
        }
        .blog-post-right-nav {
          width: 100%;
          padding-top: 25px;
          padding-bottom: 95px;
          display: flex;
          justify-content: center;
          .blog-post-pagination {
            display: flex;
            .blog-post-pagination-item {
              transition: 0.4s ease;
              a {
                color: #8a8a8a;
                font-weight: 400;
                display: block;
                padding: 8px 12px;
                margin-left: -1px;
                line-height: 1.25;
                font-size: 17px;
                cursor: pointer;
                i {
                  font-size: 17px;
                }
              }
              &:hover {
                background: #fab700;
                a {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
//* ------------------------------- Responsive ------------------------------- */
@media (max-width: 992px) {
  .blog-post {
    padding-bottom: 80px;
    .container {
      .row {
        flex-direction: column;
        .blog-post-left {
          max-width: 100%;
          flex: 0 0 100%;
        }
        .blog-post-right {
          max-width: 100%;
          flex: 0 0 100%;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .blog-post {
    .container {
      padding: 0 15px;  
      .row {
        .blog-post-left {
          .blog-post-card {
            .card-blog-post {
              .blog-post-card-left {
                max-width: 100%;
                flex: 0 0 100%;
                text-align: left;
              }
              .blog-post-card-right {
                max-width: 100%;
                flex: 0 0 100%;
              }
            }
          }
        }
        .blog-post-right {
          max-width: 100%;
          flex: 0 0 100%;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .blog-post {
    .container {
      .row {
        .blog-post-right {
          max-width: 100%;
          flex: 0 0 100%;
          padding: 0;
          .blog-post-right-all {
            .blog-post-right-cont-two {
              .blog-post-right-cont-card {
                align-items: start;
              }
            }
          }
        }
      }
    }
  }
}
//* ------------------------- START BLOG POST SECTION ------------------------ */
