.home {
  width: 100%;
    min-height: 700px;
      background: url(../image/home-banner.jpg.webp);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      left: 0;
      right: 0;
      top: 0;
      z-index: -1;
    }
  

