//* --------------------------- START HOME SECTION --------------------------- */
.home {
  width: 100%;
  min-height: 700px;
  background: url(../image/home-banner.jpg.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    .row {
      width: 100%;
      height: 700px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 60px;
        font-family: "Oswald", sans-serif;
        margin-bottom: 20px;
        font-weight: normal;
        color: #fff;
        span {
          background: #fab700;
          border-radius: 4px;
          line-height: 60px;
          color: #222222;
          padding: 2px 4px 5px;
          display: inline-block;
          font-size: 60px;
          font-family: "Oswald", sans-serif;
        }
      }
      p {
        font-size: 14px;
        line-height: 24px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        color: #fff;
      }
      .home-btn {
        margin-top: 40px;
        display: inline-block;
        padding: 0px 44px;
        font-size: 13px;
        line-height: 50px;
        font-weight: 500;
        border-radius: 5px;
        transition: all 0.4s ease;
        font-family: "Roboto", sans-serif;
        color: #fab700;
        background: #222222;
        &:hover {
          background: #fab700;
          color: #222222;
        }
      }
    }
  }
}
//* -------------------------------- Responsve ------------------------------- */
@media (max-width: 768px) {
  .home {
    min-height: 500px;
    .container {
      .row {
        height: 500px;
        h1 {
          font-size: 30px;
          span {
            font-size: 30px;
            line-height: 45px;
            padding-bottom: 0px;
            padding-top: 0px;
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .home {
    min-height: 400px;
    .container {
      .row {
        height: 400px;
        padding: 30px 15px;
        margin-top: 0px;
        h1 {
          font-size: 24px;
          span {
            font-size: 24px;
          }
        }
      }
    }
  }
}
//* ---------------------------- END HOME SECTION ---------------------------- */
//? ---------------------------- START SERVICES SECTION ---------------------------- */
.services {
  padding: 120px 0;
  .container {
    .row {
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      .services-card-box {
        display: flex;
        gap: 30px;
        .services-card {
          text-align: center;
          padding: 45px 55px;
          border-radius: 10px;
          transition: all 0.4s ease;
          margin-bottom: 30px;
          img {
            margin-bottom: 23px;
          }
          a {
            cursor: pointer;
            h4 {
              font-size: 20px;
              font-family: "Oswald", sans-serif;
              color: #222222;
              margin-bottom: 18px;
              font-weight: 500;
            }
            p {
              font-size: 16px;
              margin-bottom: 16px;
              line-height: 24px;
            }
          }
          &:hover {
            box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}
//* ------------------------------- Responsive ------------------------------- */
@media (max-width: 992px) {
  .services {
    padding: 120px 0;
    .container {
      .row {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        .services-card-box {
          display: block;
          gap: 0;
          .services-card {
            margin: 0px auto 30px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .services {
    padding: 70px 0;
    .container {
      .row {
        .services-card-box {
          gap: 0;
          .services-card {
            padding: 45px 55px;
            margin-bottom: 30px;
            // max-width: 360px;
          }
        }
      }
    }
  }
}
//? ---------------------------- END SERVICES SECTION ---------------------------- */
//* -------------------------- START PROJECTS SECTION -------------------------- */
.projects {
  width: 100%;
  .card-projects-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .card-project {
      flex: 0 0 33.33333%;
      max-width: 33.333333%;
      position: relative;
      img {
        width: 100%;
        object-fit: cover;
        vertical-align: middle;
      }
      .card-projects-content {
        position: absolute;
        opacity: 0;
        top: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
        transform: translateY(-50%);
        h3 {
          color: #222222;
          font-size: 20px;
          margin-bottom: 0;
          transition: all 300ms ease;
          opacity: 0;
        }
        p {
          opacity: 0;
          margin: 0 18px;
          font-size: 14px;
          line-height: 24px;
          font-family: "Roboto", sans-serif;
          color: #222222;
        }
      }
      &::before {
        content: "";
        background: rgba(250, 183, 0, 0.85);
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: scale(0.95);
        transition: 0.3s ease all;
      }
      &:hover::before {
        transform: scale(1);
        opacity: 1;
      }
      &:hover {
        .card-projects-content {
          opacity: 1;
          h3 {
            opacity: 1;
            margin-bottom: 18px;
          }
          p {
            opacity: 1;
          }
        }
      }
    }
  }
}
//* ------------------------------- RESPONSIVE ------------------------------- */
@media (max-width: 992px) {
  .projects {
    .card-projects-box {
      .card-project {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
}
@media (max-width: 600px) {
  .projects {
    .card-projects-box {
      .card-project {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}
@media (max-width: 480px) {
  .projects {
    .card-projects-box {
      .card-project {
        .card-projects-content {
          h3 {
            font-size: 15px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}

//* -------------------------- END PROJECTS SECTION -------------------------- */
//? --------------------------- START MEET SECTION --------------------------- */
.meet {
  width: 100%;
  padding: 120px 0;
  .container {
    .meet-card-box {
      width: 100%;
      .row {
        gap: 30px;
        .meet-card {
          width: 25%;
          .meet-img {
            width: 100%;
            position: relative;

            img {
              width: 100%;
              height: 100%;
              vertical-align: middle;
            }
            .meet-social {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              top: 0;
              left: 0;
              gap: 20px;
              a {
                font-size: 14px;
                color: #222222;
                opacity: 0;
              }
            }
            &::before {
              content: "";
              background: rgba(250, 183, 0, 0.85);
              position: absolute;
              left: 0px;
              top: 0px;
              width: 100%;
              height: 100%;
              opacity: 0;
              transition: 0.3s ease all;
            }
          }
          .card-cont {
            text-align: center;
            margin-top: 30px;
            h3 {
              margin-bottom: 5px;
              color: #222222;
              font-family: "Oswald", sans-serif;
              font-weight: 500;
              font-size: 18px;
              line-height: 1.2;
            }
            p {
              font-size: 14px;
              font-family: "Roboto", sans-serif;
              color: #777777;
              margin-bottom: 0px;
            }
          }
          &:hover {
            .meet-img::before {
              opacity: 1;
            }
            .meet-img {
              .meet-social {
                a {
                  i {
                    font-size: 14px;
                    color: #222222;
                  }
                  opacity: 0.3;
                  transition: 0.3s ease;
                  &:hover {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
//* ------------------------------- RESPONSIVE ------------------------------- */
@media (max-width: 992px) {
  .meet {
    .container {
      .meet-card-box {
        .row {
          flex-wrap: wrap;
          .meet-card {
            flex: 0 0 50%;
            max-width: 263px;
            margin: 0px auto;
            .card-cont {
              h3 {
                margin-bottom: 5px;
                color: #222222;
                font-family: "Oswald", sans-serif;
                font-weight: 500;
                font-size: 18px;
                line-height: 1.2;
              }
              p {
                font-size: 14px;
                font-family: "Roboto", sans-serif;
                color: #777777;
                margin-bottom: 0px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .meet {
    .container {
      .meet-card-box {
        width: 100%;
        .row {
          flex-wrap: wrap;
          .meet-card {
            flex: 0 0 50%;
            width: 50%;
            max-width: 240px;
            margin: 0 auto 30px;
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .meet {
    .container {
      .meet-card-box {
        .row {
          flex-wrap: wrap;
          gap: 0px;
          .meet-card {
            flex: 0 0 100%;
            max-width: 263px;
          }
        }
      }
    }
  }
}
//* ---------------------------- END MEET SECTION ---------------------------- */
//? -------------------------- START COUNTER SECTION ------------------------- */
.counter {
  width: 100%;
  padding: 115px 0px;
  background: #fab700;
  .container {
    .row {
      justify-content: space-between;
      .counter-item {
        text-align: center;
        h3 {
          font-size: 48px;
          font-family: "Oswald", sans-serif;
          font-weight: 500;
          color: #222222;
          margin-bottom: 8px;
          line-height: 1.2;
        }
        p {
          margin-bottom: 0px;
          color: #222222;
          font-family: "Roboto", sans-serif;
          font-size: 14px;
        }
      }
    }
  }
}
//* ------------------------------- RESPONSIVE ------------------------------- */
@media (max-width: 992px) {
  .counter {
    .container {
      .row {
        flex-wrap: wrap;
        .counter-item {
          flex: 0 0 33%;
          max-width: 33%;
          h3 {
            font-size: 48px;
            line-height: 1.7;
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .counter {
    padding: 60px 0;
    .container {
      .row {
        flex-wrap: wrap;
        justify-content: none;
        .counter-item {
          flex: 0 0 100%;
          max-width: 100%;
          margin-bottom: 30px;
          h3 {
            line-height: 1.2;
          }
        }
      }
    }
  }
}

//* --------------------------- END COUNTER SECTION -------------------------- */
//? ------------------------- START FEATURES SECTION ------------------------- */
.features {
  width: 100%;
  padding: 120px 0;
  .container {
    .features-card-box {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .topDiv {
        padding: 0 15px;
        flex: 0 0 33.3333%;
        max-width: 33%;
        margin-bottom: 30px;
        cursor: pointer;
        .features-card {
          background: #fff;
          border-radius: 10px;
          padding: 40px 60px 40px 40px;
          border: 1px solid #eeeeee;
          transition: 0.5s ease;
          h3 {
            font-size: 18px;
            font-family: "Oswald", sans-serif;
            font-weight: 500;
            color: #222222;
            margin-bottom: 20px;
            transition: 0.5s ease;
            i {
              color: #222222;
              font-size: 24px;
              padding-right: 15px;
              transition: 0.5s ease;
            }
          }
          &:hover {
            box-shadow: 0px 10px 30px 0px rgba(157, 157, 157, 0.2);
            border-color: #fff;
            h3 {
              color: #fab700;
              i {
                color: #fab700;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .features {
    .container {
      .features-card-box {
        .topDiv {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .features {
    .container {
      padding: 0;
      .features-card-box {
        .topDiv {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
  }
}
@media (max-width: 290px) {
  .features {
    .container {
      padding: 0 15px;
      .features-card-box {
        .topDiv {
          padding: 0;
          .features-card {
            text-align: center;
            padding: 10px;
            h3 {
              display: flex;
              flex-direction: column;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
//* ------------------------- END FEATURES SECTION ------------------------- */
//? -------------------------- START SWIPER SECTION -------------------------- */
.swiper{
  background: #f9f9ff;
  .container{
    padding: 120px 0;
    .swiper-slide{
      width: 0;
      padding: 30px 0;
      cursor: grab;
      .card{
        border: 1px solid #eeeeee;
      border-radius: 10px;
        padding: 40px;
        display: flex;
        transition: all .3s ease;
        .card-img{
          padding-right: 25px;
          border-radius: 50%;
          img{
            width: 80px;
          }
        }
      .card-content{
        p{
          margin-bottom: 20px;
        }
        h3{
          color: #222222;
          font-family: "Oswald", sans-serif;
          font-weight: 500;
          font-size: 20px;
          line-height: 1.2;
          transition: all .3s ease;
        }
        h5{
          font-size: 14px;
          color: #777777;
          font-weight: normal;
          font-family: "Roboto", sans-serif;
          line-height: 1.2;
        }
      }
      &:hover{
        box-shadow: 0px 10px 30px 0px rgba(157, 157, 157, 0.2);
    background: #fff;
    border-color: #fff;
    .card-content{
      h3{
        color: #fab700;
      }
    }
      }
      }
    }
  }
}
//* -------------------------- END SWIPER SECTION -------------------------- */
//? -------------------------- START CLIENTS SECTION ------------------------- */
.clients{
  padding: 120px 0;
  .container{
    .clientSwiper{
      display: flex;
      justify-content: center;
      .swiper-wrapper{
        .swiper-slide{
          .clients-card{
            cursor: pointer;
            line-height: 70px;
            opacity: .5;
            transition: all .4s ease;
            display: flex;
            align-items: center;
            justify-content: center;
         &:hover{
          opacity: 1;
         }
          }
        }
      }
    }
  }
}
//* --------------------------- END CLIENTS SECTION -------------------------- */